.container {
  background-color: black;
  width: 70vw;
  margin: 10% auto;
  height: 80vh;
  position: relative;

  .text {
    color: white;
    position: absolute;
    top: 5.5vh;
    left: 6.5vw;
  }

  .bottom {
    bottom: 6.5vh;
    left: 6.5vw;
    position: absolute;

    a {
      opacity: 0;
      position: absolute;
      top: -6vh;
      width: 12vw;
      background-color: white;
      text-decoration: none;
      text-align: center;
      color: black;
      padding: 10px;
      transition: opacity 1s;
    }

    img {
      opacity: 1;
      position: absolute;
      top: -10vh;
      transition: opacity 1s;
    }
  }

  .side-image {
    // background-image: url("/assets/st-gregory.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.container:hover {
  .bottom {
    a {
      opacity: 1;
    }
    img {
      opacity: 0;
    }
  }
}
