.container {
  margin: 10% auto;
  width: 80%;
  background-color: white;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 2fr 3fr;
}

.side-image {
  background-image: url("/assets/pope-francis.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 75%;
}
.text {
  margin: 0% 0% 8% 8%;
  .bottom {
    margin-top: 50%
  }
  button {
    visibility: hidden;
  }
  img {
  }
}
.container:hover {
  .text {
    button {
      visibility: visible;
    }
    img {
      visibility: hidden;
    }
  }
}
