.footer {
  width: 100vw;
  height: 40vh;
  background-color: black;
  color: white;
  position: relative;

  ul {
    list-style-type: none;
    padding-left: 18vw;
    padding-top: 7vh;

    li {
      margin-top: 2%;
    }

    a {
      color: white;
      text-transform: lowercase;
    }
  }

  .copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}
