section {
  width: 50vw;
  background: silver;
  margin: 0 auto;
  border-radius: 15px;
  opacity: 0.7;

  backdrop-filter: blur(6px);

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  article {
    padding: 10%;
  }
}
