.logo {
  width: 10%;
  margin: 5%;
  position: relative;
  left: 80vw;
}
.container {
  margin-left: 15%;
  margin-bottom: 20%;
  h1 {
    font-family: serif;
    font-family: "Playfair Display SC";
    font-size: 65px;
    line-height: 107px;
    width: 710px;
    margin: 0;
  }
  p {
    font-style: normal;
    font-size: 30px;
    line-height: 40px;
  }
}

.featured-texts {
  width: 100vw;
  height: 75vh;
  background-color: black;

  h2 {
    color: white;
    padding-left: 15%;
    padding-top: 5%;
  }
  .slider {
    display: flex;
    overflow: scroll;

    app-featured-text {
      margin: 5vw;
    }
  }
}
