<!-- <div class="container">
  <div class="text">
    <h1>{{ title }}</h1>
    <p>Razmatrajte poticaje vašeg pastira.</p>
    <img class="logo" src="/assets/logo-text-white.png" />
  </div>
  <div
    class="side-image"
    [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }"
  ></div>
</div> -->

<div class="uk-cover-container">
  <div class="uk-overlay uk-overlay-default uk-position-center">
    <h1>{{ title }}</h1>
    <h2>Razmatrajte poticaje vašeg pastira.</h2>
  </div>
  <img src="{{ backgroundImage }}" alt="background photo" uk-cover />
</div>
