.container {
  width: 100vw;
  height: 80vh;
  background-color: black;
  color: white;

  .text {
    padding-top: 20vh;
    padding-left: 12vw;

    h1 {
      margin: 0;
    }

    .logo {
      padding-top: 25vh;
    }
  }

  .side-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40vw;
    height: 80vh;
    position: absolute;
    right: 0;
    top: 0;
  }
}
