<img class="logo" src="/assets/logo-text.png" />
<div class="container">
  <h1>Potpuno <br />predani Kristu</h1>
  <p>Razmatrajte poticaje vaših pastira</p>
</div>
<app-gospel></app-gospel>
<app-jurisdiction-level [jurisdiction]="jurisdiction.pope">
</app-jurisdiction-level>
<app-jurisdiction-level [jurisdiction]="jurisdiction.bishop">
</app-jurisdiction-level>
<app-jurisdiction-level [jurisdiction]="jurisdiction.priest">
</app-jurisdiction-level>

<app-featured-text [posts]="posts"> </app-featured-text>

<app-latin-quote [whiteBackground]="true"></app-latin-quote>

<app-footer></app-footer>
