<!-- TOP -->
<div class="top-wrap uk-position-relative uk-light uk-background-secondary">
  <!-- NAV -->
  <div
    class="nav"
    data-uk-sticky="cls-active: uk-background-secondary uk-box-shadow-medium; top: 100vh; animation: uk-animation-slide-top"
  >
    <div class="uk-container">
      <nav
        class="uk-navbar uk-navbar-container uk-navbar-transparent"
        data-uk-navbar
      >
        <div class="uk-navbar-left">
          <div class="uk-navbar-item uk-padding-remove-horizontal">
            <a class="uk-logo" title="Logo" href=""
              ><img src="./assets/img/logo-text.svg" alt="Logo"
            /></a>
          </div>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav uk-visible@s">
            <li class="uk-active uk-visible@m">
              <a href="" data-uk-icon="home"></a>
            </li>
            <li><a href="">Župa</a></li>
            <li><a href="">Biskupija</a></li>
            <li><a href="">Papa</a></li>
            <li><a href="">Prijava za svećenike</a></li>
          </ul>
          <a
            class="uk-navbar-toggle uk-navbar-item uk-hidden@s"
            data-uk-toggle
            data-uk-navbar-toggle-icon
            href="#offcanvas-nav"
          ></a>
        </div>
      </nav>
    </div>
  </div>
  <!-- /NAV -->

  <div
    class="uk-cover-container uk-light uk-flex uk-flex-middle top-wrap-height"
  >
    <!-- TOP CONTAINER -->
    <div
      class="uk-container uk-flex-auto top-container uk-position-relative uk-margin-medium-top"
      data-uk-parallax="y: 0,50; easing:0; opacity:0.2"
    >
      <div
        class="uk-width-1-2@s"
        data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150"
      >
        <h6 class="uk-text-primary uk-margin-small-bottom"></h6>
        <h1 class="uk-margin-remove-top">
          Jedna, Sveta, Katolička, Apostolska Crkva
        </h1>
        <p class="subtitle-text uk-visible@s">
          Stranica posvećena jačanju svijesti zajedništva i za rasplamljivanje
          ljubavi prema Kristu i njegovoj Crkvi. Često čitajte riječi koje su
          Vam upućene preko Kristovih sluga.
        </p>
        <a
          href="#content"
          data-uk-scroll="duration: 500"
          title="Learn More"
          class="uk-button uk-button-primary uk-border-pill"
          data-uk-scrollspy-class="uk-animation-fade"
          >Pročitaj više</a
        >
      </div>
    </div>
    <!-- /TOP CONTAINER -->
    <!-- TOP IMAGE -->
    <img
      src="./assets/img/banner1.jpeg"
      alt=""
      data-uk-cover
      data-uk-img
      data-uk-parallax="opacity: 1,0.1; easing:0"
    />
    <!-- /TOP IMAGE -->
  </div>
  <div
    class="uk-position-bottom-center uk-position-medium uk-position-z-index uk-text-center"
  >
    <a
      href="#content"
      data-uk-scroll="duration: 500"
      data-uk-icon="icon: arrow-down; ratio: 2"
    ></a>
  </div>
</div>
<!-- /TOP -->
<section id="content" class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-section uk-section-small uk-padding-remove-top">
      <ul
        class="uk-subnav uk-subnav-pill uk-flex uk-flex-center"
        data-uk-switcher="connect: .uk-switcher; animation: uk-animation-fade"
      >
        <li><a class="uk-border-pill" href="#">Papa</a></li>
        <li><a class="uk-border-pill" href="#">Biskup</a></li>
        <li><a class="uk-border-pill" href="#">Župnik</a></li>
      </ul>
    </div>

    <ul class="uk-switcher uk-margin">
      <li>
        <div
          class="uk-grid uk-child-width-1-2@l uk-flex-middle"
          data-uk-grid
          data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium"
        >
          <div>
            <img src="./assets/img/pope.svg" alt="" data-uk-img />
          </div>
          <div data-uk-scrollspy-class="uk-animation-slide-right-medium">
            <h6 class="uk-text-primary">Članak 882 KKC</h6>
            <h2 class="uk-margin-small-top">
              Papini govori, homilije i enciklike
            </h2>
            <p class="subtitle-text">
              Papa, rimski biskup i nasljednik svetoga Petra, »trajno je i
              vidljivo počelo i temelj jedinstva kako biskupa tako i mnoštva
              vjernika«. »Rimski prvosvećenik po svojoj službi kao namjesnik
              Kristov i pastir cijele Crkve ima nad Crkvom potpunu, vrhovnu i
              opću vlast, koju može uvijek slobodno vršiti.«
            </p>
            <div class="uk-grid uk-child-width-1-2@s" data-uk-grid>
              <div>
                <a
                  href="#content"
                  data-uk-scroll="duration: 500"
                  title="Learn More"
                  class="uk-button uk-button-primary uk-border-pill"
                  data-uk-scrollspy-class="uk-animation-fade"
                  >Saznaj Više</a
                >
              </div>
              <div>
                <a href="http://w2.vatican.va/content/vatican/en.html">
                  Službena stranica pape
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div
          class="uk-grid uk-child-width-1-2@l uk-flex-middle"
          data-uk-grid
          data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium"
        >
          <div>
            <img src="./assets/img/bishop.gif" alt="" data-uk-img />
          </div>
          <div data-uk-scrollspy-class="uk-animation-slide-right-medium">
            <h6 class="uk-text-primary">Članak 862 KKC</h6>
            <h2 class="uk-margin-small-top">
              Vijesti iz biskupije, vodstvo i potpora vašeg biskupa
            </h2>
            <p class="subtitle-text">
              862 »Kao što služba od Gospodina posebno povjerena Petru, prvaku
              apostola, ostaje i treba se prenositi na njegove nasljednike, tako
              trajno ostaje i služba apostola da pasu Crkvu, koju sveti red
              biskupa treba neprekidno vršiti.« Zato Crkva uči da »su biskupi po
              božanskoj ustanovi kao pastiri Crkve došli na mjesto apostola, i
              tko njih sluša, sluša Krista, a tko njih prezire, prezire Krista i
              onoga koji je Krista poslao«.
            </p>
            <div class="uk-grid uk-child-width-1-2@s" data-uk-grid>
              <div>
                <a
                  href="#content"
                  data-uk-scroll="duration: 500"
                  title="Learn More"
                  class="uk-button uk-button-primary uk-border-pill"
                  data-uk-scrollspy-class="uk-animation-fade"
                  >Saznaj Više</a
                >
              </div>
              <div>
                <a href="http://www.biskupija-varazdinska.hr/">
                  Službena stranica vaše biskupije
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div
          class="uk-grid uk-child-width-1-2@l uk-flex-middle"
          data-uk-grid
          data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium"
        >
          <div>
            <img src="./assets/img/priest.jpg" alt="" data-uk-img />
          </div>
          <div data-uk-scrollspy-class="uk-animation-slide-right-medium">
            <h6 class="uk-text-primary">Članak 2179 KKC</h6>
            <h2 class="uk-margin-small-top">
              Čitajte nagovore i molitve vašeg župnika
            </h2>
            <p class="subtitle-text">
              2179 »Župa je određena zajednica vjernika trajno ustanovljena u
              partikularnoj Crkvi, za koju je pastirska briga, pod vlašću
              dijecezanskog biskupa, povjerena župniku kao njezinu vlastitom
              pastiru«. Ona je mjesto u kojem se svi vjernici mogu skupiti za
              nedjeljno slavlje Euharistije. Župa uvodi kršćanski puk u redoviti
              izražaj liturgijskog života i sabire ga na to slavlje; uči ga
              spasonosnoj Kristovoj nauci; po dobrim i bratskim djelima u djelo
              provodi ljubav Gospodnju
            </p>
            <div class="uk-grid uk-child-width-1-2@s" data-uk-grid>
              <div>
                <a
                  href="#content"
                  data-uk-scroll="duration: 500"
                  title="Learn More"
                  class="uk-button uk-button-primary uk-border-pill"
                  data-uk-scrollspy-class="uk-animation-fade"
                  >Saznaj Više</a
                >
              </div>
              <div>
                <a href="">Služben stranica župe.</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="uk-cover-container overlay-wrap">
  <img src="./assets/img/ecce_homo.jpg" alt="" data-uk-cover data-uk-img />
  <div
    class="uk-container uk-position-z-index uk-position-relative uk-section uk-section-xlarge uk-light"
  >
    <div class="uk-grid uk-flex-right">
      <div
        class="uk-width-2-5@m"
        data-uk-parallax="y: 50,-50; easing: 0; media:@l"
      >
        <div
          class="uk-position-relative uk-visible-toggle uk-light"
          data-uk-slider="easing: cubic-bezier(.16,.75,.47,1)"
        >
          <ul class="uk-slider-items uk-child-width-1-1">
            <li>
              <div data-uk-slider-parallax="opacity: 0.2,1,0.2">
                <h4 class="uk-margin-small-top">
                  Čitanje svetog Evanđelja po Ivanu <br /><br />Tko odozgor
                  dolazi, on je iznad sviju; tko je sa zemlje, zemaljski je i
                  zemaljski govori. Tko dolazi s neba, on je iznad sviju; što je
                  vidio i čuo — za to svjedoči, a svjedočanstva njegova nitko ne
                  prima. Tko primi njegovo svjedočanstvo, potvrđuje da je Bog
                  istinit. Uistinu, onaj koga Bog posla Božje riječi govori jer
                  Bog Duha ne daje na mjeru. Otac ljubi Sina i sve je predao u
                  ruku njegovu. Tko vjeruje u Sina, ima vječni život; a tko neće
                  da vjeruje u Sina, neće vidjeti života; gnjev Božji ostaje na
                  njemu.« <br /><br />Riječ Gospodnja!
                </h4>
              </div>
            </li>
          </ul>
          <ul class="uk-slider-nav uk-dotnav uk-margin-top">
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER -->
<footer class="uk-section uk-section-secondary uk-padding-remove-bottom">
  <div class="uk-container">
    <div class="uk-grid uk-grid-large" data-uk-grid>
      <div class="uk-width-1-2@m">
        <h5>OUR COMPANY</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud cillum dolore eu fugiat nulla contact to:
          <a href="#" title="">info@company.com</a>
        </p>
        <div>
          <a href="" class="uk-icon-button" data-uk-icon="twitter"></a>
          <a href="" class="uk-icon-button" data-uk-icon="facebook"></a>
          <a href="" class="uk-icon-button" data-uk-icon="instagram"></a>
        </div>
      </div>
      <div class="uk-width-1-6@m">
        <h5>PRODUCTS</h5>
        <ul class="uk-list">
          <li>Big Data</li>
          <li>Marketing</li>
          <li>Analytics</li>
          <li>AI Lab</li>
        </ul>
      </div>
      <div class="uk-width-1-6@m">
        <h5>OUR COMPANY</h5>
        <ul class="uk-list">
          <li>Team</li>
          <li>Work</li>
          <li>Culture</li>
          <li>Contact Us</li>
        </ul>
      </div>
      <div class="uk-width-1-6@m">
        <h5>OUR OFFICES</h5>
        <ul class="uk-list">
          <li>London</li>
          <li>Chicago</li>
          <li>Dubai</li>
          <li>Brussels</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="uk-text-center uk-padding uk-padding-remove-horizontal">
    <span class="uk-text-small uk-text-muted"
      >© 2019 Marketing Layout -
      <a href="https://github.com/zzseba78/Kick-Off">Created by KickOff</a> |
      Built with
      <a
        href="http://getuikit.com"
        title="Visit UIkit 3 site"
        target="_blank"
        data-uk-tooltip
        ><span data-uk-icon="uikit"></span></a
    ></span>
  </div>
</footer>
<!-- /FOOTER -->
<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
    <button
      class="uk-offcanvas-close uk-close uk-icon"
      type="button"
      data-uk-close
    ></button>
    <ul class="uk-nav uk-nav-default">
      <li class="uk-active"><a href="#">Active</a></li>
      <li class="uk-parent">
        <a href="#">Parent</a>
        <ul class="uk-nav-sub">
          <li><a href="#">Sub item</a></li>
          <li><a href="#">Sub item</a></li>
        </ul>
      </li>
      <li class="uk-nav-header">Header</li>
      <li>
        <a href="#js-options"
          ><span
            class="uk-margin-small-right uk-icon"
            data-uk-icon="icon: table"
          ></span>
          Item</a
        >
      </li>
      <li>
        <a href="#"
          ><span
            class="uk-margin-small-right uk-icon"
            data-uk-icon="icon: thumbnails"
          ></span>
          Item</a
        >
      </li>
      <li class="uk-nav-divider"></li>
      <li>
        <a href="#"
          ><span
            class="uk-margin-small-right uk-icon"
            data-uk-icon="icon: trash"
          ></span>
          Item</a
        >
      </li>
    </ul>
    <h3>Title</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </div>
</div>
