<app-banner
  [title]="'Župa Štrigova'"
  [backgroundImage]="'/assets/backgrounds/zupa-strigova-naslovna.jpg'"
></app-banner>

<article>
  <markdown [src]="'/assets/markdown/pobudnica.md'"></markdown>
</article>

<app-latin-quote [whiteBackground]="false"></app-latin-quote>

<article>
  <markdown [src]="'/assets/markdown/strigova.md'"></markdown>
</article>

<app-featured-text [posts]="posts"></app-featured-text>

<app-latin-quote [whiteBackground]="true"></app-latin-quote>

<app-footer></app-footer>
